In [38]:
import pandas as pd
import numpy as np
from tqdm import tqdm,tqdm_notebook

**Import the data**

In [11]:
offline_test = pd.read_csv("ccf_offline_stage1_test_revised.csv")
offline_train = pd.read_csv("ccf_offline_stage1_train.csv")
online_train = pd.read_csv("ccf_online_stage1_train.csv")

In [12]:
offline_test[:200]

     User_id  Merchant_id  Coupon_id Discount_rate  Distance  Date_received
0    4129537          450       9983          30:5       1.0       20160712
1    6949378         1300       3429          30:5       NaN       20160706
2    2166529         7113       6928        200:20       5.0       20160727
3    2166529         7113       1808        100:10       5.0       20160727
4    6172162         7605       6500          30:1       2.0       20160708
5    4005121          450       9983          30:5       0.0       20160706
6    4347394          450       9983          30:5       0.0       20160716
7    3094273          760      13602          30:5       1.0       20160727
8    5139970          450       9983          30:5      10.0       20160729
9    3237121          760      13602          30:5       1.0       20160703
10   6224386          450       9983          30:5       3.0       20160716
11   6488578          760      13602          30:5       0.0       20160712
12   4164865          450       9983          30:5       2.0       20160703
13   4164865         5138       8059         50:10       1.0       20160706
14   5468674          450       9983          30:5       NaN       20160713
15   6258178         7024       9144          10:1       0.0       20160706
16   3659521         6000       7341        150:30       6.0       20160727
17   3659521         2436      13181          20:1       3.0       20160717
18   3659521          760      13602          30:5       0.0       20160718
19   7333378          760      13602          30:5       0.0       20160704
20   7333378         6901        785          20:5       1.0       20160727
21   4454914         3621       2978          20:5       0.0       20160711
22   6817282         6362       8375        100:20       6.0       20160724
23   3149569         5717      10418          30:5       0.0       20160721
24   6301186         8318       1715          30:1       1.0       20160718
25   6301186         2199       4203        300:50       1.0       20160708
26   2891521          760      13602          30:5       0.0       20160724
27   3422977          760      13602          30:5       0.0       20160727
28   4771330          760      13602          30:5       7.0       20160726
29   4513282         1469      11799        100:10       7.0       20160712
..       ...          ...        ...           ...       ...            ...
170  5948950         5717      10418          30:5       0.0       20160720
171  2723083         3939       4277         150:5       0.0       20160724
172  4177675          450       9983          30:5       1.0       20160721
173  4177675          760      13602          30:5      10.0       20160719
174  6790678          760      13602          30:5       1.0       20160723
175  3531019         5138       8059         50:10       8.0       20160717
176  7343638         5138       8059         50:10       NaN       20160704
177  3021067         6485      13320          30:1       0.0       20160722
178  2773771         7422       4727           0.8      10.0       20160725
179  4286998          760      13602          30:5       NaN       20160711
180  6385174          450       9983          30:5      10.0       20160712
181  2933515          450       9983          30:5       NaN       20160703
182  2933515          760      13602          30:5      10.0       20160702
183  6925846          760      13602          30:5       1.0       20160714
184  6925846          450       9983          30:5       5.0       20160721
185  5617174         6046       5785          20:1       0.0       20160725
186  6667798          450       9983          30:5       1.0       20160710
187  6667798         6485       8499          30:5       1.0       20160725
188  6667798          760      13602          30:5       1.0       20160704
189  5887510         4220       3093        300:30       0.0       20160704
190  5887510         4220       8215        200:20       0.0       20160704
191  5887510         4220       9002        100:10       0.0       20160704
192  3469579         3621       2978          20:5       0.0       20160711
193  5368342          760      13602          30:5       0.0       20160727
194  6157846          760      13602          30:5      10.0       20160722
195  6427162         7717       1904          10:1       4.0       20160708
196  6427162         7717      11894          20:1       4.0       20160708
197  7228954          450       9983          30:5       NaN       20160714
198  6728218         2436       3992          30:5       NaN       20160707
199  6992410         7613       1971           5:1       NaN       20160706

[200 rows x 6 columns]

In [13]:
offline_train[:200]

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN
5,1439408,2632,NaN,NaN,0.0,NaN,20160516.0
6,1439408,2632,8591.0,20:1,0.0,20160516.0,20160613.0
7,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN
8,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN
9,2029232,450,1532.0,30:5,0.0,20160530.0,NaN
10,2029232,6459,12737.0,20:1,0.0,20160519.0,NaN
11,2029232,6459,NaN,NaN,0.0,NaN,20160626.0
12,2029232,6459,NaN,NaN,0.0,NaN,20160519.0
13,2747744,6901,1097.0,50:10,NaN,20160606.0,NaN
14,196342,1579,NaN,NaN,1.0,NaN,20160606.0
15,196342,1579,10698.0,20:1,1.0,20160606.0,NaN
16,2223968,3381,9776.0,10:5,2.0,20160129.0,NaN
17,73611,2099,12034.0,100:10,NaN,20160207.0,NaN
18,163606,1569,5054.0,200:30,10.0,20160421.0,NaN
19,3273056,4833,7802.0,200:20,10.0,20160130.0,NaN
20,94107,3381,7610.0,200:20,2.0,20160412.0,NaN
21,253750,8390,NaN,NaN,0.0,NaN,20160327.0
22,253750,6901,2366.0,30:5,0.0,20160518.0,NaN
23,253750,8390,7531.0,20:5,0.0,20160327.0,NaN
24,343660,4663,11002.0,150:20,NaN,20160528.0,NaN
25,376492,1041,13490.0,30:5,2.0,20160127.0,NaN
26,1964720,7884,NaN,NaN,10.0,NaN,20160115.0
27,1964720,7884,6704.0,20:1,10.0,20160215.0,NaN
28,4191584,3051,NaN,NaN,0.0,NaN,20160519.0
29,4191584,3051,NaN,NaN,0.0,NaN,20160516.0
...,...,...,...,...,...,...,...
170,65787,3381,11951.0,200:20,3.0,20160129.0,NaN
171,127227,760,3237.0,20:5,9.0,20160129.0,NaN
172,127227,3621,2705.0,20:5,0.0,20160510.0,NaN
173,127227,3381,9776.0,10:5,1.0,20160129.0,NaN
174,127227,3621,13398.0,0.9,0.0,20160302.0,NaN
175,127227,1041,13490.0,30:5,1.0,20160129.0,NaN
176,127227,3381,11951.0,200:20,1.0,20160129.0,NaN
177,127227,6424,1315.0,100:10,0.0,20160129.0,NaN
178,197110,2241,NaN,NaN,0.0,NaN,20160318.0
179,197110,8479,7360.0,10:1,0.0,20160526.0,NaN
180,197110,2241,NaN,NaN,0.0,NaN,20160408.0
181,197110,2241,NaN,NaN,0.0,NaN,20160616.0
182,197110,2241,NaN,NaN,0.0,NaN,20160610.0
183,197110,2241,7845.0,10:1,0.0,20160318.0,NaN
184,919512,7706,416.0,100:10,10.0,20160129.0,NaN
185,919512,2099,NaN,NaN,0.0,NaN,20160417.0
186,919512,2099,12034.0,100:10,0.0,20160129.0,NaN
187,919512,5341,7751.0,50:10,3.0,20160129.0,NaN
188,919512,2146,11173.0,100:10,10.0,20160129.0,NaN
189,919512,5341,111.0,30:5,3.0,20160129.0,NaN
190,919512,3710,13056.0,150:10,10.0,20160129.0,NaN
191,1380272,1569,12961.0,100:30,10.0,20160201.0,NaN
192,1380272,2099,12034.0,100:10,1.0,20160201.0,20160205.0
193,1380272,5341,7751.0,50:10,0.0,20160201.0,20160206.0
194,1380272,5341,11539.0,30:5,0.0,20160205.0,NaN
195,1380272,5341,11539.0,30:5,0.0,20160206.0,NaN
196,1380272,760,3237.0,20:5,0.0,20160201.0,NaN
197,1380272,5341,111.0,30:5,0.0,20160201.0,20160205.0
198,1380272,450,8555.0,30:5,3.0,20160201.0,NaN
199,3809120,3381,7610.0,200:20,2.0,20160411.0,NaN

In [14]:
online_train[:200]

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date
0,13740231,18907,2,100017492,500:50,20160513.0,NaN
1,13740231,34805,1,NaN,NaN,NaN,20160321.0
2,14336199,18907,0,NaN,NaN,NaN,20160618.0
3,14336199,18907,0,NaN,NaN,NaN,20160618.0
4,14336199,18907,0,NaN,NaN,NaN,20160618.0
5,14336199,18907,0,NaN,NaN,NaN,20160618.0
6,14336199,18907,0,NaN,NaN,NaN,20160618.0
7,14336199,18907,0,NaN,NaN,NaN,20160618.0
8,14336199,18907,0,NaN,NaN,NaN,20160618.0
9,14336199,18907,0,NaN,NaN,NaN,20160618.0
10,14336199,38810,0,NaN,NaN,NaN,20160126.0
11,14336199,38810,0,NaN,NaN,NaN,20160126.0
12,14336199,38810,0,NaN,NaN,NaN,20160126.0
13,14336199,38810,0,NaN,NaN,NaN,20160126.0
14,14336199,18907,0,NaN,NaN,NaN,20160127.0
15,14336199,18907,0,NaN,NaN,NaN,20160127.0
16,14336199,37005,0,NaN,NaN,NaN,20160412.0
17,14336199,14305,0,NaN,NaN,NaN,20160127.0
18,14336199,18907,0,NaN,NaN,NaN,20160618.0
19,10539231,12008,1,NaN,NaN,NaN,20160618.0
20,10539231,31904,0,NaN,NaN,NaN,20160107.0
21,10539231,12008,1,NaN,NaN,NaN,20160618.0
22,14438631,55412,0,NaN,NaN,NaN,20160630.0
23,14438631,55412,0,NaN,NaN,NaN,20160630.0
24,14438631,38013,0,NaN,NaN,NaN,20160614.0
25,14438631,55412,0,NaN,NaN,NaN,20160629.0
26,14438631,58215,0,NaN,NaN,NaN,20160421.0
27,14438631,29814,0,NaN,NaN,NaN,20160530.0
28,14438631,55412,0,NaN,NaN,NaN,20160630.0
29,15034599,45003,0,NaN,NaN,NaN,20160411.0
...,...,...,...,...,...,...,...
170,12634431,18907,0,NaN,NaN,NaN,20160611.0
171,12634431,18907,0,NaN,NaN,NaN,20160611.0
172,12634431,18907,0,NaN,NaN,NaN,20160611.0
173,12634431,18907,0,NaN,NaN,NaN,20160611.0
174,12634431,18907,0,NaN,NaN,NaN,20160611.0
175,12634431,18907,0,NaN,NaN,NaN,20160611.0
176,12634431,18907,0,NaN,NaN,NaN,20160611.0
177,12634431,18907,0,NaN,NaN,NaN,20160611.0
178,12634431,18907,0,NaN,NaN,NaN,20160611.0
179,12634431,18907,0,NaN,NaN,NaN,20160611.0
180,12634431,18907,0,NaN,NaN,NaN,20160611.0
181,12634431,18907,0,NaN,NaN,NaN,20160611.0
182,12634431,18907,0,NaN,NaN,NaN,20160611.0
183,12634431,18907,0,NaN,NaN,NaN,20160611.0
184,12634431,18907,0,NaN,NaN,NaN,20160611.0
185,12634431,18907,0,NaN,NaN,NaN,20160611.0
186,12634431,18907,0,NaN,NaN,NaN,20160611.0
187,12634431,18907,0,NaN,NaN,NaN,20160611.0
188,12634431,18907,0,NaN,NaN,NaN,20160611.0
189,12634431,18907,0,NaN,NaN,NaN,20160613.0
190,12634431,18907,0,NaN,NaN,NaN,20160619.0
191,12634431,18907,2,100060941,800:50,20160614.0,NaN
192,13230399,26700,0,NaN,NaN,NaN,20160510.0
193,13230399,26700,0,NaN,NaN,NaN,20160510.0
194,13230399,16114,0,NaN,NaN,NaN,20160111.0
195,13230399,50602,0,NaN,NaN,NaN,20160309.0
196,13230399,51904,0,NaN,NaN,NaN,20160103.0
197,13230399,51904,0,NaN,NaN,NaN,20160103.0
198,13230399,42400,0,NaN,NaN,NaN,20160508.0
199,13230399,27507,0,NaN,NaN,NaN,20160323.0

**Explore the data sets**

In the offline dataset, "Distance" is a feature that doesn't appear in the online dataset, while "Action" appears in the online dataset but not in the offline dataset.

In [15]:
print(offline_train.columns)
print(online_train.columns)

Index(['User_id', 'Merchant_id', 'Coupon_id', 'Discount_rate', 'Distance',
       'Date_received', 'Date'],
      dtype='object')
Index(['User_id', 'Merchant_id', 'Action', 'Coupon_id', 'Discount_rate',
       'Date_received', 'Date'],
      dtype='object')

In "online_train" there are much more data, not using these data may reduce the performance of our model

In [16]:
print(len(offline_train))
print(len(online_train))

1754884
11429826

In [24]:
print(len(offline_train.User_id.unique()))
print(len(offline_train.Merchant_id.unique()))
print(len(offline_train.Coupon_id.unique()))
print(len(online_train.User_id.unique()))
print(len(online_train.Merchant_id.unique()))

539438
8415
9739
762858
7999

In [28]:
set(offline_train.Merchant_id.unique()).intersection(set(online_train.Merchant_id.unique()))

set()

In [29]:
set(offline_train.Coupon_id.unique()).intersection(set(online_train.Coupon_id.unique()))

set()

None of the Merchant_id in "offline" appears in "online", neither does Coupon_id

In [17]:
r = offline_train.iloc[1,:]
pd.isnull(r['Date'])

True

In [40]:
def add_coupon_stat(df):
    l_coupon_stat = []
    for _, i in tqdm_notebook(df.iterrows(), total=len(df)):
        if pd.isnull(i['Date']):
            if pd.isnull(i['Coupon_id']):
                l_coupon_stat.append(0)
            else:
                l_coupon_stat.append(3)
        else:
            if pd.isnull(i['Coupon_id']):
                l_coupon_stat.append(2)
            else:
                l_coupon_stat.append(1)
    return df.join(pd.DataFrame(l_coupon_stat, columns=['Coupon_stat']))

offline_train_with_coupon_stat = add_coupon_stat(offline_train.copy())

HBox(children=(IntProgress(value=0, max=1754884), HTML(value='')))

In [35]:
offline_train_with_coupon_stat[offline_train_with_coupon_stat.Coupon_stat != 2].sort_values(by=['Coupon_id', 'User_id'])

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,Coupon_stat
768069,472146,6889,1.0,20:1,9.0,20160522.0,20160602.0,1
1712696,639303,6889,1.0,20:1,0.0,20160513.0,NaN,3
962551,2266597,6889,1.0,20:1,0.0,20160603.0,NaN,3
964821,3057133,6889,1.0,20:1,0.0,20160606.0,NaN,3
1665538,5555255,6889,1.0,20:1,3.0,20160530.0,NaN,3
1422463,6982185,4891,2.0,5:1,0.0,20160512.0,NaN,3
1422467,6982185,4891,2.0,5:1,0.0,20160510.0,20160512.0,1
187917,371155,5075,3.0,50:1,4.0,20160611.0,NaN,3
804276,653491,5075,3.0,50:1,NaN,20160609.0,NaN,3
50580,1022445,5075,3.0,50:1,0.0,20160601.0,NaN,3
139492,2474054,5075,3.0,50:1,0.0,20160614.0,NaN,3
1753132,2711390,5075,3.0,50:1,NaN,20160518.0,NaN,3
928069,3704173,5075,3.0,50:1,0.0,20160601.0,NaN,3
438906,4310378,5075,3.0,50:1,1.0,20160504.0,NaN,3
1115200,4639252,5075,3.0,50:1,1.0,20160527.0,NaN,3
583029,5244608,5075,3.0,50:1,NaN,20160526.0,20160623.0,1
583030,5244608,5075,3.0,50:1,NaN,20160526.0,20160622.0,1
1544582,5712798,5075,3.0,50:1,1.0,20160513.0,NaN,3
1513968,5809866,5075,3.0,50:1,0.0,20160529.0,NaN,3
312942,5919221,5075,3.0,50:1,0.0,20160603.0,NaN,3
1547934,6088626,5075,3.0,50:1,2.0,20160609.0,NaN,3
1437279,7023369,5075,3.0,50:1,4.0,20160507.0,NaN,3
773106,682150,4331,4.0,0.85,2.0,20160312.0,NaN,3
1389057,1136484,4331,4.0,0.85,2.0,20160309.0,NaN,3
1409383,1921398,4331,4.0,0.85,1.0,20160108.0,NaN,3
1230390,2436040,4331,4.0,0.85,1.0,20160115.0,NaN,3
1613830,2839235,4331,4.0,0.85,0.0,20160224.0,NaN,3
1566225,3386393,4331,4.0,0.85,2.0,20160305.0,NaN,3
176209,3564674,4331,4.0,0.85,1.0,20160313.0,NaN,3
1004751,3833977,4331,4.0,0.85,1.0,20160314.0,20160314.0,1
...,...,...,...,...,...,...,...,...
233266,2927840,1786,14043.0,0.9,0.0,20160220.0,20160220.0,1
962832,3780583,1786,14043.0,0.9,5.0,20160209.0,NaN,3
895103,5156305,1786,14043.0,0.9,10.0,20160129.0,NaN,3
838799,5736001,1786,14043.0,0.9,3.0,20160417.0,NaN,3
704889,590602,4523,14045.0,30:1,1.0,20160515.0,NaN,3
1274534,672260,4523,14045.0,30:1,1.0,20160325.0,NaN,3
157412,712473,4523,14045.0,30:1,4.0,20160604.0,NaN,3
828876,730429,4523,14045.0,30:1,1.0,20160322.0,NaN,3
84755,991995,4523,14045.0,30:1,0.0,20160426.0,NaN,3
168995,1375292,4523,14045.0,30:1,0.0,20160519.0,NaN,3
562827,1567903,4523,14045.0,30:1,0.0,20160424.0,NaN,3
830758,1958524,4523,14045.0,30:1,0.0,20160415.0,NaN,3
1551844,2210279,4523,14045.0,30:1,0.0,20160311.0,NaN,3
1539269,2224571,4523,14045.0,30:1,1.0,20160412.0,NaN,3
1717992,2303780,4523,14045.0,30:1,0.0,20160510.0,NaN,3
2174,2348900,4523,14045.0,30:1,1.0,20160319.0,NaN,3
749569,2582130,4523,14045.0,30:1,1.0,20160522.0,NaN,3
675519,2626554,4523,14045.0,30:1,NaN,20160417.0,NaN,3
1206697,2629024,4523,14045.0,30:1,0.0,20160509.0,NaN,3
1624389,2886377,4523,14045.0,30:1,2.0,20160314.0,NaN,3
1746321,3749714,4523,14045.0,30:1,NaN,20160514.0,20160520.0,1
1007824,3845251,4523,14045.0,30:1,0.0,20160519.0,NaN,3
638221,4110780,4523,14045.0,30:1,0.0,20160317.0,NaN,3
1681965,4649279,4523,14045.0,30:1,0.0,20160323.0,NaN,3
494042,4856863,4523,14045.0,30:1,1.0,20160519.0,NaN,3
1574543,4947054,4523,14045.0,30:1,1.0,20160408.0,NaN,3
513648,5221723,4523,14045.0,30:1,NaN,20160404.0,NaN,3
1457053,5979201,4523,14045.0,30:1,0.0,20160526.0,NaN,3
1287334,6433864,4523,14045.0,30:1,0.0,20160608.0,NaN,3
1549121,6808506,4523,14045.0,30:1,3.0,20160322.0,NaN,3

In [41]:
online_train_with_coupon_stat = add_coupon_stat(online_train.copy())
print(online_train_with_coupon_stat)

HBox(children=(IntProgress(value=0, max=11429826), HTML(value='')))

           User_id  Merchant_id  Action  Coupon_id Discount_rate  \
0         13740231        18907       2  100017492        500:50
1         13740231        34805       1        NaN           NaN
2         14336199        18907       0        NaN           NaN
3         14336199        18907       0        NaN           NaN
4         14336199        18907       0        NaN           NaN
5         14336199        18907       0        NaN           NaN
6         14336199        18907       0        NaN           NaN
7         14336199        18907       0        NaN           NaN
8         14336199        18907       0        NaN           NaN
9         14336199        18907       0        NaN           NaN
10        14336199        38810       0        NaN           NaN
11        14336199        38810       0        NaN           NaN
12        14336199        38810       0        NaN           NaN
13        14336199        38810       0        NaN           NaN
14        14336199        18907       0        NaN           NaN
15        14336199        18907       0        NaN           NaN
16        14336199        37005       0        NaN           NaN
17        14336199        14305       0        NaN           NaN
18        14336199        18907       0        NaN           NaN
19        10539231        12008       1        NaN           NaN
20        10539231        31904       0        NaN           NaN
21        10539231        12008       1        NaN           NaN
22        14438631        55412       0        NaN           NaN
23        14438631        55412       0        NaN           NaN
24        14438631        38013       0        NaN           NaN
25        14438631        55412       0        NaN           NaN
26        14438631        58215       0        NaN           NaN
27        14438631        29814       0        NaN           NaN
28        14438631        55412       0        NaN           NaN
29        15034599        45003       0        NaN           NaN
...            ...          ...     ...        ...           ...
11429796  12985299        24710       0        NaN           NaN
11429797  12985299        43413       0        NaN           NaN
11429798  12985299        49800       0        NaN           NaN
11429799  12985299        49800       0        NaN           NaN
11429800  12985299        49800       0        NaN           NaN
11429801  12985299        17513       0        NaN           NaN
11429802  12985299        41503       0        NaN           NaN
11429803  12985299        41503       0        NaN           NaN
11429804  12985299        34211       0        NaN           NaN
11429805  12985299        47702       0        NaN           NaN
11429806  12985299        47702       0        NaN           NaN
11429807  12985299        44805       0        NaN           NaN
11429808  12985299        37815       0        NaN           NaN
11429809  12985299        37815       0        NaN           NaN
11429810  12985299        49800       1      fixed         fixed
11429811  12985299        49800       0        NaN           NaN
11429812  12985299        49800       0        NaN           NaN
11429813  12985299        49800       0        NaN           NaN
11429814  12985299        49800       0        NaN           NaN
11429815  12985299        49800       0        NaN           NaN
11429816  12985299        49800       0        NaN           NaN
11429817  12985299        49800       0        NaN           NaN
11429818  12985299        49800       1        NaN           NaN
11429819  12985299        10813       0        NaN           NaN
11429820  13087731        52509       0        NaN           NaN
11429821  13087731        27715       0        NaN           NaN
11429822  13087731        52005       0        NaN           NaN
11429823  13087731        45611       0        NaN           NaN
11429824  13683699        18009       1        NaN           NaN
11429825  13683699        18009       1        NaN           NaN

          Date_received        Date  Coupon_stat
0            20160513.0         NaN            3
1                   NaN  20160321.0            2
2                   NaN  20160618.0            2
3                   NaN  20160618.0            2
4                   NaN  20160618.0            2
5                   NaN  20160618.0            2
6                   NaN  20160618.0            2
7                   NaN  20160618.0            2
8                   NaN  20160618.0            2
9                   NaN  20160618.0            2
10                  NaN  20160126.0            2
11                  NaN  20160126.0            2
12                  NaN  20160126.0            2
13                  NaN  20160126.0            2
14                  NaN  20160127.0            2
15                  NaN  20160127.0            2
16                  NaN  20160412.0            2
17                  NaN  20160127.0            2
18                  NaN  20160618.0            2
19                  NaN  20160618.0            2
20                  NaN  20160107.0            2
21                  NaN  20160618.0            2
22                  NaN  20160630.0            2
23                  NaN  20160630.0            2
24                  NaN  20160614.0            2
25                  NaN  20160629.0            2
26                  NaN  20160421.0            2
27                  NaN  20160530.0            2
28                  NaN  20160630.0            2
29                  NaN  20160411.0            2
...                 ...         ...          ...
11429796            NaN  20160415.0            2
11429797            NaN  20160229.0            2
11429798            NaN  20160517.0            2
11429799            NaN  20160517.0            2
11429800            NaN  20160520.0            2
11429801            NaN  20160329.0            2
11429802            NaN  20160410.0            2
11429803            NaN  20160410.0            2
11429804            NaN  20160419.0            2
11429805            NaN  20160323.0            2
11429806            NaN  20160323.0            2
11429807            NaN  20160415.0            2
11429808            NaN  20160323.0            2
11429809            NaN  20160323.0            2
11429810     20160517.0  20160517.0            1
11429811            NaN  20160516.0            2
11429812            NaN  20160516.0            2
11429813            NaN  20160516.0            2
11429814            NaN  20160516.0            2
11429815            NaN  20160516.0            2
11429816            NaN  20160516.0            2
11429817            NaN  20160516.0            2
11429818            NaN  20160520.0            2
11429819            NaN  20160414.0            2
11429820            NaN  20160609.0            2
11429821            NaN  20160629.0            2
11429822            NaN  20160324.0            2
11429823            NaN  20160422.0            2
11429824            NaN  20160323.0            2
11429825            NaN  20160628.0            2

[11429826 rows x 8 columns]